<h1>Chat</h1>
<div class="container">
    <div class="loginContainer">
        <form action="#" method="post" id="formLogin">
            <label for="email">
                <input type="email" id="userEmail" name="email" placeholder="Correo electrónico" required>
            </label>
            <button type="submit">Entrar</button>
        </form>
    </div>
    <div class="chatContainer">

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/chat.js"></script>